/* Center the form on the page */
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #f9f9f9; /* Optional: background color */
}

.contact-form__form {
  display: flex;
  flex-direction: column;
  width: 400px; /* Adjust the width as needed */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form__head {
  margin-bottom: 20px;
}

.contact-form__title {
  margin: 0;
  font-size: 24px;
  text-align: center;
}

.contact-form__description {
  margin: 0;
  font-size: 14px;
  text-align: center;
  color: #666;
}

.contact-form__label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.contact-form__input,
.contact-form__textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.contact-form__textarea {
  height: 100px;
  resize: none;
}

.contact-form__button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #cfad17;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.contact-form__button:hover {
  background-color: #34b452;
}
